{% extends 'appentrega/base.html' %}

{% load static %}

{% block main %}


<div class="row">
    {% for anfitrion in object_list %}
        <div class="card" style="width: 18rem;" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ anfitrion.apellido }}, {{ anfitrion.nombre }}</h5>
                <p class="card-text">email: {{ anfitrion.mail }}</p>
            <a href="{% url 'DetalleAnfitrion' anfitrion %}" class="btn btn-primary">Ver</a>
            <a href="{% url 'EditarAnfitrion' anfitrion.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'EliminarAnfitrion' anfitrion.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'CrearAnfitrion' %}">Agregar nuevo</a>

{% endblock main %}