{% extends 'appentrega/base.html' %}

{% load static %}

{% block form %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h1 class="display-5 fw-bolder text-dark mb-2">{{ evento.nombre }}</h1>
                            <div class="fst-italic mb-2">Se realizará el día {{ evento.fecha }}</div>
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'Nada' %}">{{ evento.categoria }}</a>
                        </div>
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <!-- Ubicacion -->
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="mb-2">
                            <h3 class="fw-bolder mb-2 mt-2">¿Dónde?</h3>
                        </div>
                    </div>
                    <section class="py-4 border-bottom">
                        <div class="container px-4 px-lg-4 mb-1 mt-0">
                            <p class="lead fw-normal text-dark-50 mb-0">Se realizará en {{ evento.ubicacion }}</p>
                        </div>
                    </section>
                </div>
                    <!-- descripcion -->
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="mb-2">
                            <h3 class="fw-bolder mb-2 mt-2">Acerca del evento:</h3>
                        </div>
                    </div>
                    <section class="py-4 border-bottom">
                        <div class="container px-4 px-lg-4 mb-1 mt-0">
                            <p class="lead fw-normal text-dark-50 mb-0">{{ evento.descripcion }}</p>
                        </div>
                    </section>
                </div>
            </article>
            <!-- Agregar sección de comentarios-->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="mb-2">
                        <h3 class="fw-bolder mb-2 mt-2">¡Comentanos qué te parece!</h3>
                    </div>
                </div>
                <section class="py-4 border-bottom">
                    <div class="container px-4 px-lg-4 mb-1 mt-0">
                        <p class="lead fw-normal text-dark-50 mb-0">...</p>
                    </div>
                </section>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="text-center my-1">
                        <h3 class="fw-bolder mb-1 mt-2">¡Unite a la experiencia!</h3>
                    </div>
                </div>
                <section class="py-4 border-bottom">
                    <div class="container px-0 px-lg-4 mb-0 mt-0">
                        <div class="text-center my-1">
                            <p class="fs-5 mb-4">Descubrí todo lo que necesitas para disfrutar al máximo de nuestro evento completando este formulario y nos pondemos en contacto. ¡Te esperamos!</p>
                        </div>
                        <div class="text-center my-1">
                            <a class="btn btn-primary btn-lg px-4 me-sm-2" href="{% url "Nada" %}">¡Quiero ir!</a>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">
                    <div class="text-center my-1">
                        <h3 class="fw-bolder mb-1 mt-2">Buscá más eventos</h3>
                    </div>
                </div>
                <section class="py-4 border-bottom">
                    <div class="container px-0 px-lg-4 mb-0 mt-0">
                        <div class="text-center my-1">
                            <p class="fs-5 mb-4">Si este evento no es de tu gusto, no te preocupes! Tenemos una amplia lista de eventos para explorar y encontrar el que mejor se adapte a tus gustos.</p>
                        </div>
                        <div class="text-center my-1">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url "ListaEvento" %}">Buscar Eventos</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock form %}


