{% extends 'appentrega/base.html' %}

{% load static %}

{% block form %}

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-5">
            <h1 class="font-weight-light">¡Crea tu propio Evento!</h1>
            <p>¿Buscas crear un evento que deje una marca perdurable en la memoria de tus asistentes? En un mundo cada vez más conectado, la necesidad de eventos que inspiren, eduquen y entretengan es más evidente que nunca. Ya sea que estés planeando un vibrante festival cultural o un emocionante evento público, Eventísmos es tu aliado ideal.</p>
            <a class="btn btn-primary" href="{% url "CrearEvento" %}">Iniciar Evento</a>
        </div>
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "assets/img/bg1.jpg" %}" alt="..." /></div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <h1 class="font-weight-light">¡Explora la magia de los eventos en Eventísmos!</h1>
        <div class="card-body">
            <p class="text-white m-0">Sumérgete en un mundo de experiencias inolvidables creadas por talentosos organizadores de eventos de todo el mundo. Desde emocionantes festivales de música hasta cautivadores eventos culturales y fascinantes conferencias, nuestra plataforma alberga una amplia gama de eventos que satisfacen todos los gustos e intereses.</p>
        </div>
    </div>
    <!-- Content Row-->
    <div class="row">
        {% for evento in object_list %}
            <div class="card" style="width: 18rem;" >
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ evento.nombre }}, {{ evento.fecha }}</h5>
                    <p class="card-text">Ubicacion: {{ evento.ubicacion }}</p>
                    <p class="card-text">Descripcion: {{ evento.descripcion }}</p>
                <a href="{% url 'DetalleEvento' evento.id %}" class="btn btn-primary">Ver</a>
                <a href="{% url 'EditarEvento' evento.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'EliminarEvento' evento.id %}" class="btn btn-primary">Borrar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock form %}