{% extends 'appentrega/base.html' %} 

{% load static %} 

{% block index %}

<body class="index-body-bg">
    <section class="full-height-section position-relative">
        <video autoplay muted loop id="video-background" class="fullscreen-video">
            <source src="{% static "assets/video/videobg.mp4" %}" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>

        <div class="video-text position-absolute top-50 start-50 translate-middle text-center">
            <h1 class="mt-5 display-2">Eventísmos</h1>
            <p class="lead">Descubre los secretos detrás de los mejores eventos.</p>
        </div>
    </section>
</body>


{% endblock %}

