{% extends 'appentrega/base.html' %} 

{% load static %} 

{% block main %} 

<div> 
    <section>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-6">
                    <h1 class="mt-5">¡Bienvenido a Eventísmos!</h1>
                    <p>"¡Hola, amantes de los eventos! Este blog es como un backstage exclusivo donde desvelaremos los secretos detrás de los mejores momentos. Desde fiestas elegantes hasta conciertos vibrantes, aquí encontrarás todo lo que necesitas para crear tus propias experiencias inolvidables."</p>
                </div>
            </div>
        </div>  
    </section>
</div>

{% endblock main %}
