{% extends 'appentrega/base.html' %}

{% load static %}

{% block titulo_pestana %}

<title>Eventismos | Eventos</title>

{% endblock titulo_pestana %}

{% block form %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-0 mt-4">
                    <h1 class="display-7 fw-bolder text-white mb-2">Eventísmos</h1>
                </div>
                <div class="text-center mb-5 mt-0">
                    <p class="lead fw-normal text-white-50 mb-0">Tenemos todo lo que necesitas para vivir momentos inolvidables. ¿Por qué esperar? ¡Crea tu propio evento y comparte tu pasión con el mundo!</p>
                </div>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mb-4 mt-4">
                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url "CrearEvento" %}">¡Creá tu evento!</a>
                    <a class="btn btn-outline-light btn-lg px-4" href="#features">¡Todos los eventos!</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="card text-white bg-dark my-5 py-5 text-center">
    <div class="card-body"><p class="lead fw-normal text-white-50 mb-0">Explorá el universo de eventos hasta encontrar aquel te transporte a la experiencia ideal. </p></div>
</div>
<section class="py-5" id="features">
    <div class="bg-light py-5 border-bottom mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Gastronomicos</h2>
                            <p class="card-text">¡Descubre un festín para tus sentidos en nuestros eventos gastronómicos! Deléitate con sabores exquisitos, aromas tentadores y experiencias culinarias inolvidables.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Gastronomicos" %}">Más info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Corporativos</h2>
                            <p class="card-text">Únete a nosotros en nuestros eventos corporativos, donde la innovación, el networking y el crecimiento profesional se fusionan para crear oportunidades únicas. ¡Construyamos juntos el futuro empresarial!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Corporativos" %}">Más info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Musicales</h2>
                            <p class="card-text">Sumérgete en el ritmo y la energía de nuestros eventos musicales. Disfruta de melodías que te transportarán, comparte momentos inolvidables y déjate llevar por la magia de la música en vivo. ¡No te lo pierdas!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Musicales" %}">Más info</a></div>
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Cineastas</h2>
                            <p class="card-text">¡Sumérgete en el mundo del cine con nosotros! Disfruta de emocionantes proyecciones, historias cautivadoras y momentos que te transportarán a otras realidades en nuestros eventos cinematográficos.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Cineastas" %}">Más info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Deportivos</h2>
                            <p class="card-text">¡Ven y vive la emoción de nuestros eventos deportivos! Sé parte de la acción, apoya a tu equipo favorito y disfruta de momentos inolvidables llenos de adrenalina y pasión por el deporte.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Deportivos" %}">Más info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Más eventos</h2>
                            <p class="card-text">Descubre un mundo de emociones en nuestros eventos, donde cada experiencia es única e inolvidable. ¡Ven y sé parte de algo extraordinario!</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url "Sin_categoria" %}">Más info</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock form %}