{% extends 'appentrega/base.html' %}

{% load static %}

{% block form %}

<section class="py-0 border-bottom">
    <div class="container px-0 px-lg-4 mb-3 mt-0">
        <div class="text-center my-1">
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-4">
                    {{ form.old_password }}
                    <label for="id_old_password">Contraseña actual</label>
                </div>
                <div class="form-floating mb-4">
                    {{ form.new_password1 }}
                    <label for="id_new_password1">Nueva contraseña</label>
                </div>
                <div class="form-floating mb-4">
                    {{ form.new_password2 }}
                    <label for="id_new_password2">Confirmar nueva contraseña</label>
                </div>                              
                <div class="text-center my-0 mt-3">
                    <input type="submit" value="Actualizar contraseña" class="btn btn-outline-dark px-3">
                    <a href="{% url 'UsuarioEditar' %}" class="btn btn-outline-dark px-3">Volver</a>
                </div>
            </form>
        </div>
    </div>
</section>





{% endblock form %}