{% extends 'appentrega/base.html' %}

{% load static %}

{% block form %}

<section class="py-5 border-bottom">
    <div class="container px-5 px-lg-6 mt-5">
        <div class="row gx-10 gx-lg-0 row-cols-5 row-cols-md-3 row-cols-xl-2 justify-content-center">
            <div class="card mb-0">
                <div class="card-header">
                    <div class="text-center my-1">
                        <h3 class="fw-bolder mb-1 mt-2">Iniciar sesión</h3>
                    </div>
                </div>
                <div class="text-center my-0 mt-3">
                    <p style="font-size: medium;">*Todos los campos son obligatorios para modificar el evento*</p>
                </div>
                <section class="py-0 border-bottom">
                    <div class="container px-0 px-lg-4 mb-3 mt-0">
                        <div class="text-center my-1">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-floating mb-4">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                <div class="form-floating mb-4">
                                    {{ form.password.label_tag }}
                                    {{ form.password }}
                                </div>
                                <div class="text-center my-0 mt-3">
                                    <p style="font-size: medium;">Leer <a href="{% url 'Nada' %}">términos y condiciones</a> antes de completar el formulario.</p>
                                </div>
                                <div class="text-center my-0 mt-3">
                                    <input type="submit" value="Iniciar" class="btn btn-outline-dark px-3">
                                    <a href="{% url 'Inicio' %}" class="btn btn-outline-dark px-3">Volver a inicio</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


{% endblock form %}